#border-color {
    -fx-border-color: green blue yellow red;
}

#border-inset {
    -fx-border-color: red blue green yellow;
    -fx-border-radius: 5;
    -fx-border-insets: 5;
}

#border-style-dashed {
    -fx-border-style: dashed;
    -fx-border-insets: 0, -3;
    -fx-border-radius: 5;
}

#border-style-dotted {
    -fx-border-color: red blue green yellow;
    -fx-border-style: dotted;
    -fx-border-radius: 5;
}

#border-width {
    -fx-border-width: 1 2 1 2;
    -fx-border-color: red;
}

#border-width-dashed {
    -fx-border-width: 1 3 5 1;
    -fx-border-color: red blue green yellow;
    -fx-border-style: dashed;
}

#border-width-dotted {
    -fx-border-width: 1 3 5 1;
    -fx-border-color: red blue green yellow;
    -fx-border-style: dotted;
}

#image-border {
    -fx-border-image-source: url("resources/border.png");
    -fx-border-image-slice: 28;
    -fx-border-image-width: 9;
}

/* Pending RT-29616
#image-border-insets {
    -fx-border-image-source: url("resources/red-rectangle.png");
    -fx-border-image-width: 10;
    -fx-border-image-insets: 1 5 10 15;
}
*/

#image-border-no-repeat {
    -fx-border-image-source: url("resources/border.png");
    -fx-border-image-repeat: no-repeat;
    -fx-border-image-slice: 28;
    -fx-border-image-width: 9;
}

#image-border-repeat-x {
    -fx-border-image-source: url("resources/border.png");
    -fx-border-image-repeat: repeat-x;
    -fx-border-image-slice: 28;
    -fx-border-image-width: 9;
}

#image-border-repeat-y {
    -fx-border-image-source: url("resources/border.png");
    -fx-border-image-repeat: repeat-y;
    -fx-border-image-slice: 28;
    -fx-border-image-width: 9;
}

#image-border-round {
    -fx-border-image-source: url("resources/border.png");
    -fx-border-image-repeat: round;
    -fx-border-image-slice: 28;
    -fx-border-image-width: 9;
}

#image-border-space {
    -fx-border-image-source: url("resources/border.png");
    -fx-border-image-repeat: space;
    -fx-border-image-slice: 28;
    -fx-border-image-width: 9;
}

