# FIXME: Eventually we should include the needed patterns from .hgingore
# The goal is that a full build & test, followed by "git status" would show
# no untracked files

*.orig
*.bak
*.rej
*.swp
build/
.gradle/
**/nbproject/private/
dist/
webrev/
webrev.zip
gradle.properties
apps/samples/Ensemble8/lib/

.idea/tasks.xml
.idea/workspace.xml
.idea/inspectionProfiles/*
.idea/copyright/profiles_settings.xml
.idea/codeStyles/*
.idea/checkstyle-idea.xml
