/*
 * We specify from CSS that this rectangle should have an opacity value of
 * .76
 */
#rectangle {
    -fx-opacity: .76;
    -fx-cursor: HAND;
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.4) , 15, 0.0 , 0 , 6 );
}

#text {
    -fx-font: 32 "Amble Cn";
}

#rt-20686-ua { -fx-font-smoothing-type: gray; }