/*******************************************************************************
 *                                                                             *
 * Rich Text Area                                                              *
 *                                                                             *
 ******************************************************************************/

.rich-text-area {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-cursor: text;
    -fx-padding: 0;
}

.rich-text-area:disabled {
    -fx-opacity: 0.4;
}

.rich-text-area:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}

.rich-text-area .caret {
    -fx-stroke: black;
}

.rich-text-area .caret-line {
    -fx-stroke: null;
    -fx-fill: rgba(255, 0, 255, 0.1);
}

.rich-text-area .selection-highlight {
    -fx-stroke: null;
    -fx-fill: rgba(255, 255, 0, 0.3);
}
