body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 28px;
    color:#385E76
}

h2 {
    border-top: 3px dashed #DDD;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 22px;
    color:#385E76
}

h3 {
    background-color: #EEE;
    padding: 3px;
    font-size: 18px;
}

h4 {
    font-size: 16px;
    margin: 18px 0px 10px 0px;
}

h5 {
    font-size: 14px;
    font-style: italic;
    margin: 18px 0px 10px 0px;
}

ul.contents li {
    font-size: 12px;
    font-weight:bold;
    list-style-type:circle;
    margin: 3px 0px 3px 0px;
}

ul.contents li li {
    font-weight:normal;
    list-style-type:circle;
}

a {
    text-decoration:none;
    color:#06C
}

p.subtitle {
    font-style: italic;
    color:#999;
}

span.code {
    font-size: 10pt;
    font-family: Courier New;
}

pre.code {
    font-size: 10pt;
    font-family: Courier New;
    background: #dddddd;
    padding:12;
}

span.variable {
    font-style: italic;
}

span.filename {
    font-size: 10pt;
    font-family: Courier New;
}

div.caption {
    font-style: italic;
}

p.copyright {
    font-style: italic;
}

.fx-code-header {
   background: #ffffff;
   background-image:url(fx_code_header.jpg);
   height: 50px;
   width: 656px;
}

.version  {
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size:10px;
   padding-top:2px;
   color:#265F7F;
   line-height:1.2em;
   position:relative;
   left:425px;
   top:10px;
   width:200px;
   text-align:right;
}
