[Desktop Entry]
Name=APPLICATION_NAME
Comment=APPLICATION_SUMMARY
Exec=/opt/APPLICATION_FS_NAME/APPLICATION_LAUNCHER_FILENAME
Icon=/opt/APPLICATION_FS_NAME/APPLICATION_LAUNCHER_FILENAME.png
Terminal=false
Type=Application
Categories=DEPLOY_BUNDLE_CATEGORY
DESKTOP_MIMES
