.root {
    -fx-background-color: red;
    -fx-background-color: red, yellow;
    -fx-background-image: url("duke.png");
    -fx-background-image: url("duke.png"), url("duke.png");
    -fx-background-insets: 1px;
    -fx-background-insets: 1px, 2px;
    -fx-background-position: left;
    -fx-background-position: right;
    -fx-background-position: 10px;
    -fx-background-position: 10px 20px;
    -fx-background-position: left 20px;
    -fx-background-position: 10px 20px, 20px 10px;
    -fx-background-position: left 20px, right 20px;
    -fx-background-radius: 1;
    -fx-background-radius: 1 2;
    -fx-background-radius: 1 2 3;
    -fx-background-radius: 1 2 3 4;
    -fx-background-radius: 1, 1;
    -fx-background-radius: 1 2 3 4, 1 2 3 4;
    -fx-background-insets: 1;
    -fx-background-insets: 1 2;
    -fx-background-insets: 1 2 3;
    -fx-background-insets: 1 2 3 4;
    -fx-background-insets: 1, 1;
    -fx-background-insets: 1 2 3 4, 1 2 3 4;    
    -fx-background-repeat: repeat-x;
    -fx-background-repeat: repeat-y;
    -fx-background-repeat: repeat;
    -fx-background-repeat: space;
    -fx-background-repeat: round;
    -fx-background-repeat: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-repeat: repeat no-repeat;
    -fx-background-repeat: repeat-x, repeat-y;
    -fx-background-repeat: repeat no-repeat, round space;    
    -fx-background-size: 100px;
    -fx-background-size: 100px 100px;
    -fx-background-size: auto;
    -fx-background-size: cover;
    -fx-background-size: contain;
    -fx-background-size: stretch;
    -fx-background-size: stretch, contain;        
    -fx-border-color: red;
    -fx-border-color: red yellow;
    -fx-border-color: red yellow green;
    -fx-border-color: red yellow green blue;
    -fx-border-color: red, red;
    -fx-border-color: red yellow green blue, red yellow green blue; 
    -fx-border-radius: 1;
    -fx-border-radius: 1 2;
    -fx-border-radius: 1 2 3;
    -fx-border-radius: 1 2 3 4;
    -fx-border-radius: 1, 1;
    -fx-border-radius: 1 2 3 4, 1 2 3 4;
    -fx-border-insets: 1;
    -fx-border-insets: 1 2;
    -fx-border-insets: 1 2 3;
    -fx-border-insets: 1 2 3 4;
    -fx-border-insets: 1, 1;
    -fx-border-insets: 1 2 3 4, 1 2 3 4;        
   -fx-border-style: solid;
    -fx-border-style: solid phase 10;
    -fx-border-style: dotted;
    -fx-border-style: dashed;
    -fx-border-style: segments(1, 2, 3);
    -fx-border-style: solid centered;
    -fx-border-style: solid phase 10 centered;
    -fx-border-style: solid inside;
    -fx-border-style: solid outside;
    -fx-border-style: solid line-join miter 10;
    -fx-border-style: solid line-join bevel;
    -fx-border-style: solid line-join round;
    -fx-border-style: solid centered line-join miter 10;
    -fx-border-style: solid centered line-join bevel;
    -fx-border-style: solid phase 10 centered line-join miter 10;
    -fx-border-style: solid phase 10 centered line-join bevel;
    -fx-border-style: solid line-cap square;
    -fx-border-style: solid line-cap butt;
    -fx-border-style: solid line-cap round;
    -fx-border-style: solid centered line-cap square;
    -fx-border-style: solid centered line-cap butt;
    -fx-border-style: solid phase 10 centered line-cap square;
    -fx-border-style: solid phase 10 centered line-cap butt;
    -fx-border-style: solid line-join miter 10 line-cap square;
    -fx-border-style: solid line-join bevel line-cap square;
    -fx-border-style: solid phase 10 line-join bevel line-cap square;
    -fx-border-style: solid phase 10 line-join bevel line-cap square, dashed phase 10 line-join bevel line-cap square;
    -fx-border-width: 1;
    -fx-border-width: 1 2;
    -fx-border-width: 1 2 3;
    -fx-border-width: 1 2 3 4;
    -fx-border-width: 1, 1;
    -fx-border-width: 1 2 3 4, 1 2 3 4;        
    -fx-border-image-insets: 1;
    -fx-border-image-insets: 1 2;
    -fx-border-image-insets: 1 2 3;
    -fx-border-image-insets: 1 2 3 4;
    -fx-border-image-insets: 1, 1;
    -fx-border-image-insets: 1 2 3 4, 1 2 3 4;        
    -fx-border-image-repeat: repeat-x;
    -fx-border-image-repeat: repeat-y;
    -fx-border-image-repeat: repeat;
    -fx-border-image-repeat: space;
    -fx-border-image-repeat: round;
    -fx-border-image-repeat: stretch;
    -fx-border-image-repeat: no-repeat;
    -fx-border-image-repeat: repeat no-repeat;
    -fx-border-image-repeat: repeat-x, repeat-y;
    -fx-border-image-repeat: repeat no-repeat, round space;     
    -fx-border-image-slice: 10%;
    -fx-border-image-slice: 10% fill;
    -fx-border-image-slice: 10% 10%;
    -fx-border-image-slice: 10% 10% 10%;
    -fx-border-image-slice: 10% 10% 10% fill;
    -fx-border-image-slice: 10% 10% 10% 10%;
    -fx-border-image-slice: 10% 10% 10% 10% fill;
    -fx-border-image-slice: 10%, 10%;
    -fx-border-image-slice: 10% fill, 10% fill;
    -fx-border-image-slice: 10% 10% 10% 10% fill, 10% 10% 10% 10% fill;        
    -fx-border-image-source: url("duke.png");
    -fx-border-image-source: url("duke.png"), url("duke.png");
    -fx-border-image-width: 1;
    -fx-border-image-width: 1 2;
    -fx-border-image-width: 1 2 3;
    -fx-border-image-width: 1 2 3 4;
    -fx-border-image-width: 1, 1;
    -fx-border-image-width: 1 2 3 4, 1 2 3 4;        
    -fx-padding: 1;
    -fx-padding: 1 2;
    -fx-padding: 1 2 3;
    -fx-padding: 1 2 3 4;
    -fx-padding: 1, 1;
    -fx-padding: 1 2 3 4, 1 2 3 4;        
    -fx-label-padding: 1;
    -fx-label-padding: 1 2;
    -fx-label-padding: 1 2 3;
    -fx-label-padding: 1 2 3 4;
    -fx-label-padding: 1, 1;
    -fx-label-padding: 1 2 3 4, 1 2 3 4;        
    -fx-shape: "M150 0 L75 200 L225 200 Z";
    -fx-font-size: 18pt;
    -fx-font-size: 1.5em;
    -fx-font-size: 150%;
    -fx-font-size: xx-small;
    -fx-font-size: x-small;
    -fx-font-size: small;
    -fx-font-size: medium;
    -fx-font-size: large;
    -fx-font-size: x-large;
    -fx-font-size: xx-large;
    -fx-font-size: smaller;
    -fx-font-size: larger;
    -fx-font-style: italic;
    -fx-font-weight: normal;
    -fx-font-weight: bold;
    -fx-font-weight: bolder;
    -fx-font-weight: lighter;
    -fx-font-weight: inherit;
/*    -fx-font-weight: 100;
    -fx-font-weight: 200;
    -fx-font-weight: 300;
    -fx-font-weight: 400;
    -fx-font-weight: 500;
    -fx-font-weight: 600;
    -fx-font-weight: 700;
    -fx-font-weight: 800;
    -fx-font-weight: 900;*/
    -fx-font: 16 "Comic Sans MS";
    -fx-font: 16 Arial;
    -fx-font: bold 16 Arial;
    -fx-font: italic 16 Arial;
    -fx-font: bold italic 16 Arial;
    -fx-font: italic bold 16 Arial;
    -fx-stroke-dash-array: 10 20 30 40;
    -fx-stroke-line-join: miter 45;
    -fx-stroke-line-join: bevel;
    -fx-stroke-line-join: round;
    -fx-stroke-line-cap: round;
    -fx-stroke-line-cap: square;
    -fx-stroke-line-cap: butt;
    -fx-stroke-type: centered;
    -fx-stroke-type: inside;
    -fx-stroke-type: outside;
    -fx-font-smoothing-type: gray;
    -fx-font-smoothing-type: lcd;
    -fx-text-alignment: left;
    -fx-text-alignment: center;
    -fx-text-alignment: right;
    -fx-text-alignment: justify;
    -fx-text-origin: top;
    -fx-text-origin: baseline;
    -fx-text-origin: bottom;
    -fx-orientation: horizontal;
    -fx-orientation: vertical;
    -fx-alignment: top-left;
    -fx-alignment: top-center;
    -fx-alignment: top-right;
    -fx-alignment: center-left;
    -fx-alignment: center;
    -fx-alignment: center-right;
    -fx-alignment: bottom-left;
    -fx-alignment: bottom-center;
    -fx-alignment: bottom-right;
    -fx-alignment: baseline-left;
    -fx-alignment: baseline-center;
    -fx-alignment: baseline-right;
    -fx-text-overrun: center-ellipsis;
    -fx-text-overrun: center-word-ellipsis;
    -fx-text-overrun: clip;
    -fx-text-overrun: ellipsis;
    -fx-text-overrun: leading-ellipsis;
    -fx-text-overrun: leading-word-ellipsis;
    -fx-text-overrun: word-ellipsis;
    -fx-content-display: top;
    -fx-content-display: right;
    -fx-content-display: bottom;
    -fx-content-display: left;
    -fx-content-display: center;
    -fx-content-display: graphic-only;
    -fx-content-display: text-only;
    -fx-hbar-policy: never;
    -fx-hbar-policy: always;
    -fx-hbar-policy: as-needed;
}
    
