[Desktop Entry]
Name=APPLICATION_NAME
Comment=APPLICATION_SUMMARY
Exec=/opt/APPLICATION_NAME/APPLICATION_LAUNCHER_FILENAME
Icon=/opt/APPLICATION_NAME/APPLICATION_NAME.png
Terminal=false
Type=Application
Categories=DEPLOY_BUNDLE_CATEGORY
